* {
	margin: 0;
	padding: 0;
}

html , body{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.right-fmb{
	width: 37%;
    vertical-align: top;
    margin: 0 auto;
    text-align: center;
}

.right-fmb .form , .right-fmb .form2 {
	margin: 0 auto;
	padding: 40px 20px 0;
}

.right-fmb .form input[type="text"] , .right-fmb .form input[type="password"] , .right-fmb .form2 input[type="text"] , .right-fmb .form2 input[type="password"]{
	line-height: 46px;
	width: calc(100% - 40px);
	padding: 0 20px;
	font-size: 20px;
	border: 1px solid #dfdfdf;
	background: linear-gradient(to top, #edeced, #faf9f9);
	margin-bottom: 5px;
}

.right-fmb .form input[type="checkbox"] , .right-fmb .form2 input[type="checkbox"] {
	width: 25px;
	height: 25px;
	background: linear-gradient(to top, #edeced, #faf9f9);
	vertical-align: top;
	margin: 0 10px 0 0;
}

.right-fmb .form p , .right-fmb .form2 p {
	margin: 0 0 5px;
	font-size: 18px;
}

.form .lhalf , .form2 .lhalf {
	float: left;
	margin-top: 15px;
	max-width: 50%;
}

.form .lhalf div , .form2 .lhalf div {
	font-size: 14px;
	color: #a7a7a7;
}

.form .rhalf , .form2 .rhalf {
	float: right;
	max-width: 50%;
}

.rhalf button {
	padding: 10px 20px;
	border:none;
	background: linear-gradient(to top, #f75233, #fb5382);
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin: 20px 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.rhalf button:hover , .rhalf button:active {
	background: linear-gradient(to top, #ff026d, #ff7eb5);
}

.right-fmb .form p.shad a , .right-fmb .form p.shad , .right-fmb .form2 p.shad a , .right-fmb .form2 p.shad  { color: #f7425f; cursor: pointer; text-decoration: underline !important;}
.right-fmb .form p.shad a:hover  , .right-fmb .form p.shad:hover , .right-fmb .form2 p.shad a:hover  , .right-fmb .form2 p.shad:hover { color: #333; }

p.shad {
	margin: 0 0 15px !important;
}

.left-fmimg {
	width: 62%;
    display: inline-block;
    vertical-align: middle;
}

.left-fmimg img {
	width: 100%;
}

.left-fmimg h2 {
    font-size: 26px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.auth {
  padding: 30px 0;
    position: relative;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 37px;
    color: #f7425f;
 }

.auth:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 520px;
    z-index: -1; }

.auth > div.image {
      position: relative;
      left: 40%;
      width: 60%; 
      max-width:60%; 
      padding-top: 3%;
      display: inline-block;
      -webkit-transition: opacity 0ms linear 250ms, visibility 0ms linear 250ms;
      -moz-transition: opacity 0ms linear 250ms, visibility 0ms linear 250ms;
      transition: opacity 0ms linear 250ms, visibility 0ms linear 250ms; }


.rhalf a {
	padding: 10px 20px;
	border:none;
	border-radius: 5px;
	background: linear-gradient(to top, #f75233, #fb5382);
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin: 20px 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.rhalf a:hover , .rhalf a:active {
	background: linear-gradient(to top, #ff026d, #ff7eb5);
	text-decoration: none;
}

.right-fmb .form p.shad a , .right-fmb .form p.shad , .right-fmb .form2 p.shad a , .right-fmb .form2 p.shad  { color: #f7425f; cursor: pointer; text-decoration: underline !important;}
.right-fmb .form p.shad a:hover  , .right-fmb .form p.shad:hover , .right-fmb .form2 p.shad a:hover  , .right-fmb .form2 p.shad:hover { color: #333; }
