.contacts {
  height: 570px;
  overflow: hidden;
  position: relative; }
  .contacts > div.map {
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    left: -10px; }
    .contacts > div.map > div {
      background: url(http://maps.googleapis.com/maps/api/staticmap?center=Kiev,Ukraine&zoom=14&size=512x285&maptype=roadmap&scale=2) 50% 50% no-repeat;
      background-size: cover;
      padding: 0 10px;
      width: 100%;
      height: 100%;
      border: none;
      box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.2); }
      @media screen and (min-width: 1200px) {
        .contacts > div.map > div {
          background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=Kiev,Ukraine&zoom=14&size=640x285&maptype=roadmap&scale=2); } }
  .contacts > div.info {
    position: relative; }
    .contacts > div.info > div.panel {
      width: 292px;
      margin: 62px 38px 0 0;
      height: 480px;
      float: right; }
      .contacts > div.info > div.panel > div {
        box-sizing: border-box;
        padding: 25px 25px;
        background-color: white; }
        .contacts > div.info > div.panel > div:after {
          content: "";
          display: block;
          height: 10px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          background: 0 0;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAAdElEQVQoz5XOoQlCUQCF4QNuIDiAYHIPq8lqtQoO4CqvmpzBJLiHYDIJgumzqLxwfdz718MHJ1hrb58kwbEBXTD6wgnuFeiFefphVQF3KYXDADr/LhbgGLcCemKWobAswG1qQtdDp9T2uXzFA9O0hAU2//Y3rNI4eXmnBDIAAAAASUVORK5CYII="); }
        .contacts > div.info > div.panel > div > h2 {
          margin: 0;
          font-size: 24px;
          font-weight: normal;
          margin-bottom: 20px; }
      .contacts > div.info > div.panel > div.base > p {
        font-size: 14px;
        color: #666666;
        margin-bottom: 10px; }
        .contacts > div.info > div.panel > div.base > p.tel {
          font-size: 24px;
          margin: 20px 0; }
      .contacts > div.info > div.panel > div.base > a.mail {
        color: #7c6574; }
      .contacts > div.info > div.panel > div.base > a[rel="mail"] {
        display: block;
        height: 50px;
        width: 244px;
        color: white;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        background-color: #f63571;
        background-image: -webkit-linear-gradient(#f63571, #f85d3a);
        background-image: linear-gradient(#f63571, #f85d3a);
        border-radius: 3px;
        margin-top: 25px;
        text-decoration: none; }
        .contacts > div.info > div.panel > div.base > a[rel="mail"]:hover, .contacts > div.info > div.panel > div.base > a[rel="mail"]:active {
          background-color: #00dd6f;
          background-image: -webkit-linear-gradient(#00dd6f, #00bc65);
          background-image: linear-gradient(#00dd6f, #00bc65); }
        .contacts > div.info > div.panel > div.base > a[rel="mail"]:active {
          background-color: #00dd6f;
          background-image: -webkit-linear-gradient(#00dd6f, #00bc65);
          background-image: linear-gradient(#00dd6f, #00bc65);
          box-shadow: inset 0 2px 5px rgba(22, 65, 45, 0.34); }
      .contacts > div.info > div.panel > div.form > form input, .contacts > div.info > div.panel > div.form > form textarea {
        border: 1px solid #cbc8d1;
        box-shadow: inset 0 2px 2px rgba(38, 11, 29, 0.2);
        border-radius: 4px;
        padding: 5px 10px;
        color: #3e3f44;
        width: 238px;
        box-sizing: border-box;
        margin: 0 0 24px; }
      .contacts > div.info > div.panel > div.form > form input {
        height: 35px; }
      .contacts > div.info > div.panel > div.form > form textarea {
        height: 101px;
        margin-bottom: 10px; }
      .contacts > div.info > div.panel > div.form > form > button {
        float: left;
        width: 135px;
        height: 51px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        background-color: #f63571;
        background-image: -webkit-linear-gradient(#f63571, #f85d3a);
        background-image: linear-gradient(#f63571, #f85d3a);
        border-radius: 3px;
        text-decoration: none;
        color: white;
        border: none; }
        .contacts > div.info > div.panel > div.form > form > button:hover, .contacts > div.info > div.panel > div.form > form > button:active {
          background-color: #00dd6f;
          background-image: -webkit-linear-gradient(#00dd6f, #00bc65);
          background-image: linear-gradient(#00dd6f, #00bc65); }
        .contacts > div.info > div.panel > div.form > form > button:active {
          background-color: #00dd6f;
          background-image: -webkit-linear-gradient(#00dd6f, #00bc65);
          background-image: linear-gradient(#00dd6f, #00bc65);
          box-shadow: inset 0 2px 5px rgba(22, 65, 45, 0.34); }
      .contacts > div.info > div.panel > div.form > form > a {
        color: #7b6572;
        font-size: 14px;
        border-bottom: 1px dotted #7b6572;
        text-decoration: none;
        display: inline-block;
        margin-top: 17px;
        margin-left: 20px;
        cursor: pointer; }
      .contacts > div.info > div.panel > div.done .circle {
        width: 87px;
        height: 87px;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 60px auto 30px;
        border: 2px solid #55bb68;
        background: #f6f4f3 url("../image/product/galka.png") no-repeat 50% 50%; }
      .contacts > div.info > div.panel > div.done > span {
        margin: 35px 0 40px;
        display: block;
        text-align: center;
        font-size: 15px; }
      .contacts > div.info > div.panel > div.done > p {
        text-align: center;
        color: #54b967;
        font-size: 20px;
        margin: 0; }
      .contacts > div.info > div.panel > div.done > a {
        color: #846472;
        border-bottom: 1px dotted #846472;
        display: inline-block;
        text-decoration: none;
        margin: 0 0 0 90px;
        font-size: 14px;
        cursor: pointer; }

/*# sourceMappingURL=contacts.css.map */
